@font-face{
    font-family: "gothic";
    src: url('https://files.catbox.moe/kgizss.TTFf')
}



body, html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    line-height: 1.6;
    background-color: #f7f7f7;
    font-family: "gothic";
    font-weight: 500;
    font-size: 16px;
    cursor: url(blackcursor12.png), auto;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4cbcb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::selection {
    text-shadow: 0 0 2px #ccaeae;
    color: #705a5a;
}

a:-webkit-any-link {
    cursor: url(blackcursor13.png), pointer;
}

a:hover{
    color: rgb(146, 146, 146) !important;
}

.everything {
    position: fixed;
    margin-top: 300px;
    margin-left: 1100px;
    text-align: center;
}

p{
    font-size: 18px;
    color:#ccaeae;
}

a{
    color:#555;
}

.links{
    margin-top: -40px;
}