@font-face {
    font-family: "kodomo";
    src: url('KodomoRounded-Light.otf');
}

@font-face {
    font-family: "uhbee";
    src: url('UhBee DoolDool Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;        
    overflow-x: hidden;
    overflow-y: hidden;
    line-height: 1.6;
    background-color: #f7f7f7;
    font-family: 'kodomo';
    font-weight: 500;
    font-size: 20px;
    cursor: url(blackcursor12.png), auto;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4cbcb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::selection {
    text-shadow: 0 0 2px #ded8d8;
    color: #ded8d8;
}

::-moz-selection {
    text-shadow: 0 0 2px #ded8d8;
    color: #ded8d8;
}

a:-webkit-any-link {
    cursor: url(blackcursor13.png), pointer;
}

